:root {
  --text-color: #434455;
  --title-color: #2e2f42;
  --dark-background: #2e2f42;
  --borders-color: #e7e9fc;
  --middle-background: #f4f4fd;
  --accent-color: #4d5ae5;
  --button-hover: #404bbf;
  --white-color: #ffffff;
}

/*! Main */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  background-color: var(--white-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
}
/* Header */

.header {
  border-bottom: 1px solid var(--borders-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  gap: 40px;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.logo-black {
  color: var(--title-color);
}
.logo-white {
  color: var(--middle-background);
}

.nav-item {
  padding: 24px 0;
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.nav-item.active {
  color: var(--button-hover);
}
.nav-item:hover,
.nav-item:focus {
  color: var(--button-hover);
}

.contact {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.contact:hover,
.contact:focus {
  color: var(--button-hover);
}

.contact-list {
  display: flex;
  gap: 40px;
}

.contacts {
  margin-left: auto;
}

/* Hero */

.hero {
  padding: 188px 0;
  text-align: center;

  background-color: var(--dark-background);
}

.hero-title {
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;

  letter-spacing: 0.02em;
  font-size: 56px;
  line-height: 1.07;
  color: var(--white-color);
}

.hero-button {
  padding: 16px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-hover);
}

/* Section Advantages */

.advant-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advant-list {
  display: flex;
  gap: 24px;
}
.advant-item {
  width: 264px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advant-undertitle {
  margin-bottom: 8px;

  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-color);
}

/* Section WhatAreWeDoing, 
Section Team*/

.what-doing-section {
  padding-bottom: 120px;
}
.what-doing-list {
  display: flex;
  gap: 24px;
}

.section-title {
  margin-bottom: 72px;
  text-align: center;

  letter-spacing: 0.02em;
  font-size: 36px;
  line-height: 1.11;
  color: var(--title-color);
}

.team-undertitle {
  margin-bottom: 8px;
  text-align: center;

  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-color);
}

.team-text {
  text-align: center;

  color: var(--text-color);
}

.team-section {
  padding: 120px 0;
  background-color: var(--middle-background);
}

.team-card {
  width: calc((100% - 24px * 3) / 4);

  background: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-member {
  padding: 32px 16px;
}

/* Footer */

.footer-text {
  width: 264px;

  color: var(--middle-background);
}

.footer {
  padding: 100px 0;
  background-color: var(--dark-background);
}

.logo-footer {
  margin-bottom: 16px;
  display: inline-block;
}

/*! Portfolio page */

.button {
  padding: 12px 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background: var(--middle-background);
  border: 1px solid var(--borders-color);
  border-radius: 4px;
  cursor: pointer;
}

.button.active {
  color: var(--white-color);
  background: var(--button-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  border: 1px solid transparent;

  color: var(--white-color);
  background-color: var(--button-hover);
}

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.buttons-list {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
  gap: 24px;
}

/* Projects */

.project-title {
  margin-bottom: 8px;

  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-color);
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.projects-container {
  padding: 32px 16px;
  border: 1px solid var(--borders-color);
  border-top: none;
}
.projects-item {
  width: calc((100% - 24px * 2) / 3);
}
